<?xml version="1.0" encoding="utf-8"?>

<!--[[[cog
import cog
import utils
import re
# Change the package name
packagename = utils.get_string(buildname, 'package')
cog.out(re.sub(r'package="[^"]*"', 'package="%s"' % packagename, cog.previous))
]]]-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psiphon3.psiphonproxiedwebapp"
    android:versionCode="1"
    android:versionName="1.0" >
<!--[[[end]]]-->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

<!--[[[cog
import cog
import utils
# Replace the launcher images
utils.replace_files(buildname,
    {
    'res/drawable-hdpi/ic_launcher.png': 'drawable-hdpi/ic_launcher.png',
    'res/drawable-ldpi/ic_launcher.png': 'drawable-ldpi/ic_launcher.png',
    'res/drawable-mdpi/ic_launcher.png': 'drawable-mdpi/ic_launcher.png',
    'res/drawable-xhdpi/ic_launcher.png': 'drawable-xhdpi/ic_launcher.png',
    })
]]]-->
<!--[[[end]]]-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

<!--[[[cog
import cog
import utils
import re
# Change the package name
packagename = utils.get_string(buildname, 'package')
cog.out(re.sub(r'android:name="[^"]*(\.[^.]+)"', 'android:name="%s\\1"' % packagename, cog.previous))
]]]-->
        <activity
            android:name="com.psiphon3.psiphonproxiedwebapp.MainActivity"
            android:label="@string/app_name" >
<!--[[[end]]]-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
