<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psiphon3"
    android:installLocation="auto">

    <supports-screens
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".StatusActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".psiphonlibrary.MoreOptionsPreferenceActivity"
            android:label="@string/app_name">
        </activity>
        <service
            android:name=".psiphonlibrary.TunnelService"
            android:label="@string/app_name"
            android:exported="false" >
        </service>
        <service
            android:name=".psiphonlibrary.TunnelVpnService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false" >
        </service>

        <provider
            android:name=".psiphonlibrary.LoggingProvider"
            android:authorities="com.psiphon3.psiphonlibrary.LoggingProvider"
            android:exported="false">
        </provider>

        <!-- UpgradeChecker receives intents (direct, alarm, boot) that trigger upgrade checking. -->
        <receiver
            android:name=".psiphonlibrary.UpgradeChecker"
            android:process=":UpgradeChecker"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- The service that UpgradeChecker uses to do work -->
        <service
            android:name=".psiphonlibrary.UpgradeChecker$UpgradeCheckerService"
            android:label="@string/upgrade_checker_service_name"
            android:exported="false"
            android:process=":UpgradeChecker" >
        </service>

        <activity
            android:name="org.zirco.ui.activities.MainActivity"
            android:label="@string/browser_task_label"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:taskAffinity=":PsiphonBrowserTask"
            android:theme="@style/ZircoTheme"
            android:exported="false">
        </activity>
        <activity android:name="org.zirco.ui.activities.AboutActivity" />
        <activity android:name="org.zirco.ui.activities.EditBookmarkActivity"/>
        <activity android:name="org.zirco.ui.activities.BookmarksListActivity"/>
        <activity android:name="org.zirco.ui.activities.HistoryListActivity"/>
        <activity android:name="org.zirco.ui.activities.DownloadsListActivity"/>
        <activity android:name="org.zirco.ui.activities.AdBlockerWhiteListActivity"/>
        <activity android:name="org.zirco.ui.activities.BookmarksHistoryActivity"/>
        <activity android:name="org.zirco.ui.activities.ChangelogActivity"/>
        <activity android:name="org.zirco.ui.activities.preferences.PreferencesActivity"/>
        <activity android:name="org.zirco.ui.activities.preferences.HomepagePreferenceActivity"/>
        <activity android:name="org.zirco.ui.activities.preferences.SearchUrlPreferenceActivity"/>
        <activity android:name="org.zirco.ui.activities.preferences.UserAgentPreferenceActivity"/>
        <activity android:name="org.zirco.ui.activities.MobileViewListActivity"/>
        <activity android:name="org.zirco.ui.activities.DesktopViewListActivity"/>
        <activity android:name="org.zirco.ui.activities.WeaveBookmarksListActivity"/>
        <activity android:name="org.zirco.ui.activities.preferences.WeavePreferencesActivity"/>
        <activity android:name="org.zirco.ui.activities.preferences.WeaveServerPreferenceActivity"/>

        <provider android:name="org.zirco.providers.ZircoBookmarksContentProvider" android:exported="false" android:authorities="org.zirco.providers.psiphonzircobookmarkscontentprovider"/>
        <provider android:name="org.zirco.providers.WeaveContentProvider" android:exported="false" android:authorities="org.zirco.providers.psiphonweavecontentprovider"/>

        <meta-data android:name="com.google.android.gms.version"
			   android:value="@integer/google_play_services_version" />
        
        <activity android:name="com.inmobi.rendering.InMobiAdActivity"
                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:hardwareAccelerated="true" />
        
        <receiver
                android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
                android:enabled="true"
                android:exported="true" >
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>

        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>

</manifest>
