<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psiphon3"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <uses-sdk tools:overrideLibrary="ca.psiphon,com.mopub.mobileads.banner,com.mopub.mobileads.base,
    com.mopub.mobileads.interstitial,com.moat.analytics.mobile.mpub" />
    <supports-screens
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="com.psiphon3.PsiphonApplication"
        android:theme="@style/Theme.AppCompat"
        android:hardwareAccelerated="true"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Required for newer devices -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}"/>

        <activity
            android:name="com.psiphon3.StatusActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="com.psiphon3.psiphonlibrary.TunnelIntentsHandler"
            android:exported="false"
            android:targetActivity="com.psiphon3.StatusActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".StatusActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StatusActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "psiphon://feedback” -->
                <data
                    android:scheme="psiphon"
                    android:host="feedback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".psiphonlibrary.MoreOptionsPreferenceActivity"
            android:parentActivityName=".StatusActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.psiphon3.StatusActivity" />
        </activity>
        <activity
            android:name=".psiphonlibrary.VpnOptionsPreferenceActivity"
            android:parentActivityName=".StatusActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StatusActivity" />
        </activity>
        <activity
            android:name=".psiphonlibrary.ProxyOptionsPreferenceActivity"
            android:parentActivityName=".StatusActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StatusActivity" />
        </activity>
        <service
            android:name="com.psiphon3.psiphonlibrary.TunnelVpnService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:process=":TunnelVpnService" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

        <provider
            android:name="com.psiphon3.psiphonlibrary.LoggingProvider"
            android:authorities="com.psiphon3.LoggingProvider"
            android:exported="false">
        </provider>
        <provider android:name="org.zirco.providers.ZircoBookmarksContentProvider" android:exported="false" android:authorities="org.zirco.providers.psiphonzircobookmarkscontentprovider"/>

        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name="com.mopub.common.privacy.ConsentDialogActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
