<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psiphon3"
    android:installLocation="auto">
    <uses-sdk tools:overrideLibrary="ca.psiphon"></uses-sdk>

    <supports-screens
                  android:smallScreens="true"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- instruct manifest merger to remove any location permissions from the final manifest -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:node="remove"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".PsiphonApplication"
        android:hardwareAccelerated="true"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Required for newer devices -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs in the form of "psiphon://settings” -->
                <data
                    android:scheme="psiphon"
                    android:host="settings" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="com.psiphon3.psiphonlibrary.TunnelIntentsHandler"
            android:exported="false"
            android:targetActivity="com.psiphon3.MainActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "psiphon://feedback” -->
                <data
                    android:scheme="psiphon"
                    android:host="feedback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".psiphonlibrary.MoreOptionsPreferenceActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".psiphonlibrary.VpnOptionsPreferenceActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".psiphonlibrary.ProxyOptionsPreferenceActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <service
            android:name=".psiphonlibrary.TunnelVpnService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:process=":TunnelVpnService" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>

        <provider
            android:name=".psiphonlibrary.LoggingProvider"
            android:authorities="com.psiphon3.LoggingProvider"
            android:exported="false">
        </provider>

        <!-- UpgradeChecker receives intents (direct, alarm, boot) that trigger upgrade checking. -->
        <receiver
            android:name=".psiphonlibrary.UpgradeChecker"
            android:process=":UpgradeChecker"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- The service that UpgradeChecker uses to do work -->
        <service
            android:name=".psiphonlibrary.UpgradeChecker$UpgradeCheckerService"
            android:label="@string/upgrade_checker_service_name"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":UpgradeChecker" >
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.psiphon3.UpgradeFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
